{% extends 'SIMAOnlineStoreBundle::backend.html.twig' %}

{% block content %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Codecategory</th>
                <th>Articles</th>
                <th>sous catégories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.label }}</td>
                <td>{{ category.codeCategory }}</td>
                <td>
                   {% for article in category.articles %}
                    <span> {{  article.label }} <span> |
                    {% endfor %}
                </td>
                <td>
                   {% for subCategory in category.subCategories %}
                    <span> {{  subCategory.label }} <span> |
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
