{% extends 'SIMAOnlineStoreBundle::backend.html.twig' %}

{% block content %}
    <h1>Characteristictype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ characteristicType.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ characteristicType.label }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ characteristicType.category }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if characteristicType.createdAt %}{{ characteristicType.createdAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if characteristicType.updateAt %}{{ characteristicType.updateAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Isdeleted</th>
                <td>{% if characteristicType.isDeleted %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if characteristicType.deletedAt %}{{ characteristicType.deletedAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('characteristictype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('characteristictype_edit', { 'id': characteristicType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
