{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enterprises list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Comapanyname</th>
                <th>Responsible</th>
                <th>Accountnumber</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enterprise in enterprises %}
            <tr>
                <td><a href="{{ path('enterprise_show', { 'id': enterprise.id }) }}">{{ enterprise.id }}</a></td>
                <td>{{ enterprise.comapanyName }}</td>
                <td>{{ enterprise.responsible }}</td>
                <td>{{ enterprise.accountNumber }}</td>
                <td>{{ enterprise.address }}</td>
                <td>{{ enterprise.phone }}</td>
                <td>{{ enterprise.mail }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('enterprise_show', { 'id': enterprise.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('enterprise_edit', { 'id': enterprise.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enterprise_new') }}">Create a new enterprise</a>
        </li>
    </ul>
{% endblock %}
